<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nchauzov.analizator">

    <application >
        <activity android:name=".dohod.dodod_activity" android:screenOrientation="portrait">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="nchauzov.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dohod.dohod_redak" android:screenOrientation="portrait"/>
        <activity android:name=".purse.purse_activity" android:screenOrientation="portrait" />
        <activity android:name=".dkr.new_dkr_crea" android:screenOrientation="portrait" />
        <activity android:name=".reports.reports_activity" android:screenOrientation="portrait"/>
        <activity android:name=".statistics.statistics" android:screenOrientation="portrait"/>
        <activity android:name=".history.history_activity" android:screenOrientation="portrait"/>
    </application>

</manifest>